<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:text="${greeting}">Greetings</div>


<div id="app">
    <div>
        <button @click="grabData">Get Data From Server</button>
        {{resource}}
    </div>

    <div>
        <button @click="grabList">Get List</button>
        <ul>
            <li v-for="todo in todos" :key="todo.id">
                <input type="checkbox" :value="todo.id">{{ todo.text }}
            </li>
        </ul>
    </div>
</div>

<script>
    const {createApp} = Vue

    createApp({
        data() {
            return {
                resource: '',
                todos: []
            }
        },
        methods: {
            grabData() {
                axios.get("/api/resource").then(res => {
                    console.log(res);
                    this.resource = res.data.data
                })
            },

            grabList() {
                axios.get("/api/list").then(res => {
                    this.todos = res.data.data
                })
            }
        }
    }).mount('#app')
</script>
</body>
</html>